.header {
  padding: 16px 0;
  border-bottom: 1px solid #E9E9E9;
}
.search {

  &-wrap {
    position: relative;
    width: 360px;
  }
  &-icon {
    position: absolute;
    top: 9px;
    left: 15px;
    z-index: 1;
    stroke: #797878;
  }
  .input {
    position: relative;
    padding-left: 48px;
    background-color: transparent;
    z-index: 2;
  }
}
